<!DOCTYPE html>
<html lang="en">

<head>
    <title>輿情分析平台</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>

    <div class="container">
        <div class="row">

            <!-- Here insert the navigation bar -->
            {%include 'navbar.html'%}


            <div class="col-lg-12">
                <h1>各類新聞最熱門的關鍵詞</h1>
                <p>熱門度分析:可以觀察新聞關注了哪些重要的事情</p>
            </div>

            <!-- 新聞類別選單------------------------------->
            <div class="col-lg-6 mb-2">
                <div class="card">
                    <div class="card-header">
                        <h3 class="h6 text-uppercase mb-0">瀏覽熱門關鍵字與統計圖(資料週期:資料截止時間的前2周)</h3>
                    </div>

                    <div class="card-body">

                        <!--新聞類別選單 form group-->
                        <div class="form-group row">
                            <label class="col-sm-3 form-control-label">新聞類別</label>
                            <div class="col-md-9">
                                <select id="cate-selected" name="news_category" class="form-control">
                                    <!--<option>請選擇</option>-->
                                    <option>全部</option>
                                    <option>政治</option>
                                    <option>科技</option>
                                    <option>娛樂</option>
                                    <option>運動</option>
                                    <option>生活</option>
                                    <option>產經</option>
                                    <option>證卷</option>
                                    <option>國際</option>
                                    <option>社會</option>
                                    <option>文化</option>
                                    <option>兩岸</option>
                                </select>
                                <small class="form-text text-muted">請選擇新聞類別
                                </small>
                            </div>
                        </div>
                        <!--form group-->

                        <!--熱門詞多少個?form group-->
                        <div class="form-group row">
                            <label class="col-md-3 form-control-label">多少個熱門詞?</label>
                            <div class="col-md-9">
                                <input id="topk-selected" name="topk" value="10"
                                    class="form-control form-control-success">
                                <small class="form-text text-muted">內定值為10
                                </small>
                            </div>
                        </div>
                        <!--form group-->

                        <!--submit按鈕form group-->
                        <div class="form-group row">
                            <div class="col-md-9 ml-auto">
                                <button type="button" id="btn-ok" class="btn btn-primary">查詢</button>
                            </div>
                        </div>
                        <!--form group-->

                    </div>
                    <!--card body-->
                </div>
                <!--column-->
            </div><!-- 區塊結束 -->


            <!-- 繪圖區塊--------------------------------------------------------->
            <div class="col-lg-6 mb-5">
                <div class="card">
                    <div class="card-header">
                        <h3 class="h6 text-uppercase mb-0">熱門關鍵字統計圖</h3>
                    </div>
                    <div class="card-body">
                        <canvas id="mychart"></canvas>
                    </div>
                </div>
            </div><!-- 區塊結束 -->


            <!-- 熱門關鍵字區塊----------------------------------------------------->
            <div class="col-lg-6 mb-5">
                <div class="card">
                    <div class="card-header">
                        <h3 class="h6 text-uppercase mb-0">熱門關鍵字</h3>
                    </div>
                    <div class="card-body">
                        <ul id="topkeys"></ul>
                    </div>
                </div>
            </div><!-- 區塊結束 -->

        </div> <!-- row結束-->
    </div> <!-- container結束-->

</body>
</html>

<!-- chartjs圖js-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>

<!-- 程式碼區 -->
<script>

// Write your JS code here!
    call_ajax();

    // Exercise #0 : 呈現使用者的選擇

    let cate = $('#cate-selected').val();
    console.log(cate);

    let topk = $('#topk-selected').val();
    console.log(topk);
    // alert(topk);

    // Exercise #1 : 事件處理 
    
    // 事件一 : 按鈕按下與否
    $('#btn-ok').on('click', function(){
        console.log("Press Button!");
        call_ajax();
    });

    //  事件二 : 新聞類別選單中的值改變
    $('#cate-selected').on('change', function(){

        let cate = $('#cate-selected').val();
        console.log(cate);
        
        let topk = $('#topk-selected').val();
        console.log(topk);
        call_ajax();
    })

    // Exercise #2 : 定義函數
    
    // 貼上關鍵字函數 
    function showTopKeys(items){
        // 先清除上次的資料
        $('#topkeys').empty();

        // 將內容加上<li>，並顯示再顯示區 "topkeys"
        for (let i = 0; i < items.length; i++){
            let item_li = "<li>" + items[i] + "</li>";
            $('#topkeys').append(item_li);
        }
    }

    // Exercise #3 : 呼叫 showTopKeys()函數
    let wf_pairs = [["高科大", 25], ["資管系", 20]]; // define a JavaScript array
    showTopKeys(wf_pairs);

    // 當按鈕被按下時，呼叫函數
    $('#btn-ok').on('click', function () {
        let wf_pairs = [ ["大數據",45] ,["高科大", 18], ["資管系", 12],]; // define a JavaScript array
        showTopKeys(wf_pairs);
    }); 

    // Exercise #4 : 定義 "call_ajax" 函數來呈現 Ajax
    // 當夜面載入且按鈕被按下時，呼叫 ajax function 
    // 觀察哪些資料從後端API接收
    // 呈現 字詞的頻率
    function call_ajax(){
        let cate = $('#cate-selected').val();
        console.log(cate);

        let topk = $('#topk-selected').val();
        console.log(topk);
        $.ajax({
            type: "POST",
            // url: "http://127.0.0.1:8000/topword/api_get_cate_topword/",
            url: "/topword/api_get_cate_topword/",

            data: {"news_category": cate, "topk": topk},
            success: function(received){
                console.log(received);
                let chart_data = received.chart_data;
                let wf_pairs = received.wf_pairs;
                console.log(wf_pairs);
                showTopKeys(wf_pairs);
                showChart(chart_data);
            } // success function
        }); // ajax        
    } // call_ajax

    // Exercise #5 : 定義並呼叫 barchart函數
    function showChart(chart_data){
        // 畫圖需要的數據資料
        let values = chart_data.values;
        let labels = chart_data.labels;
        let category = chart_data.category;

        // 第一個變數 : 餵給 chart 的資料 data
        let data = {
            labels: labels,
            datasets: [{
                label: category,
                data: values,
                backgroundColor: randomColors(values.length),
                borderColor: randomColors(values.length),
                borderWidth: 1,
            }],
        };
        
        // 第二個變數 : chart 的選項，指定 y 坐標軸從 0 開始顯示
        let options = {
            scales: {
                yAxes:[{
                    ticks:{
                        beginAtZero: true
                    }
                }]
            },
        };

        // 取得在前面 html 區域欲顯示的圖代號
        let canvas_mychart = document.getElementById("mychart");
        
        // 先清除之前的圖，再畫新的圖
        // 可以印出 barchart 是否存在物件
        // console.log(window.barchart);
        if(window.barchart){
            barchart.destroy();
        };

        // 繪圖(產生一個圖物件變數名稱為 barchart
        // 必須是 全域變數，不需加 let, var, const，要讓它存在於網頁的全域變數，方便判斷是否有前一次的圖
        barchart = new Chart(canvas_mychart, {
            type: 'bar',
            data: data,
            options: options,
        });

        // 產生隨機顏色
        function randomColors(num_colors){
            let colors = [];
            
            for(i = 0; i < num_colors; i++){
                let r = Math.floor(Math.random() * 255);
                let g = Math.floor(Math.random() * 255);
                let b = Math.floor(Math.random() * 255);
                let rgb = `rgba(${r}, ${g}, ${b}, 0.5)` // (red, green, blue, alfa) alfa透明度
                
                colors.push(rgb);
            };
            return colors;
        };
    }

</script>
